@model ResponseModel<LoyaltyPointViewModel>

@{
	Layout = null;
}

<div class="col-md-12">
	<div class="card">

		<div class="card-header border-transparent">
			<h3 class="card-title">Generate QR Code for Loyalty Point</h3>
			<div class="card-tools">
				@* <button type="button" class="btn btn-sm btn-info float-right">
				<i class="fas fa-plus"></i> Add New Record(s)
				</button> *@

				<button type="submit" class="btn btn-success btnSubmit">Save</button>
			</div>
		</div>

		<div class="card-body p-0">
			<div class="table-responsive">
				<table class="table table-bordered table-striped m-0">
					<thead>
						<tr>
							<th width="5%" class="text-center">#</th>
							<th width="10%" class="text-center">QR Code</th>
							<th class="text-center">QR Code Text</th>
							<th width="5%" class="text-center">Points</th>
							<th class="text-center">Generate Date</th>
							<th width="5%" class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						@if (Model.Data != null)
						{
							List<(string QRCode, string QRCode_Base64, int Point)> list = Model.Data as List<(string QRCode, string QRCode_Base64, int Point)>;

							for (int i = 0; i < list.Count(); i++)
							{
								<tr>
									<td width="5%" class="text-center">@(i + 1)</td>
									<td width="10%" class="text-center">
										<img src="data:image/png;base64,@list[i].QRCode_Base64" class="img-fluid" width="100" alt="QR Code">
									</td>
									<td class="text-center">@list[i].QRCode</td>
									<td width="5%" class="text-center">
										<input type="text" class="form-control form-control-sm m-0 d-none" name="listQrcode[@i].Qrcode" value="@list[i].QRCode" autocomplete="off">
										<input type="text" class="form-control form-control-sm m-0 text-center" name="listQrcode[@i].Points" value="@list[i].Point" autocomplete="off">
									</td>
									<td class="text-center">@DateTime.Now.Date.ToString(Common.DateTimeFormat_ddMMyyyy).Replace("-", "/")</td>
									<td width="5%" class="text-center">
										<button class="btn btn-danger btn-sm btn-flat" onclick="javascript:function(){ debugger;}"><span class="nme"><i class="far fa-trash-alt"></i></span></button>
									</td>
								</tr>
							}
						}

					</tbody>
				</table>
			</div>
		</div>

		<div class="card-footer">
			<div class="row no-gutters">
				<div class="col-sm-1">&nbsp;</div>
				<div class="col-sm-6 text-left">
					<button type="submit" class="btn btn-success btnSubmit">Save</button>
					<button type="button" class="btn btn-danger" onclick="fnCloseParialView('divformSave', '#dataTable_LoyaltyPoint');">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {

		});
	</script>
}
