@model ResponseModel<User>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var IndexPageUrl = "/" + ViewContext.RouteData.Values["Controller"].ToString() + "/Index";
}

@section Styles {
	<style>
		.eye-pass {
			position: absolute;
			margin-top: 15px;
			top: -4px;
			right: 0;
			margin-right: 35px;
			cursor: pointer;
		}

		input[type=password]::-ms-reveal,
		input[type=password]::-ms-clear {
			display: none;
		}
	</style>
}

<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">User</h1>
			</div>
			<div class="col-sm-6">
				<div class="float-sm-right">
					@*@if (Model.IsCreate == true)
					{*@
					<button type="button" id="btnAddNewItem" class="btn btn-primary btn-md pull-right mr-2 divformSave_Hide" onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm","User")');">
						<i class="fas fa-plus"></i> &nbsp; Add User
					</button>
					@*}*@
				</div>
			</div>
		</div>
	</div>
</div>
<section class="content">
	<div class="container-fluid">
		<div class="row no-gutters divformSave_Display d-none" style="margin: 5px !important;">
			<div class="col-12">
				<form id="formSave" asp-controller="User" asp-action="Save" method="post" class="form-horizontal" enctype="multipart/form-data">
					<div class="row no-gutters" id="divformSave"></div>
					<div class="clearfix"></div>
					<hr />
				</form>
			</div>
		</div>
		<div class="row divformSave_Hide">
			<div class="col-12">
				<div class="card card-primary card-outline">

					<div class="card-body">
						<div class="row no-gooters">
							<div class="col-md-12 my-1">
								<table class="table table-bordered table-striped table_Common_SrNo">
									<thead>
										<tr>
											<th width="5%">#</th>
											<th>Username</th>
											<th>Plant - Role</th>
											<th>Email </th>
											<th>Department </th>
											<th>Designation </th>
											<th width="5%">Status</th>
											<th width="5%">Action</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model.ObjList)
										{
											<tr>
												<td></td>
												<td>@item.UserName</td>
												<td>@item.User_Role</td>
												<td>@item.Email</td>
												<td>@item.Department</td>
												<td>@item.Designation</td>
												<td class="text-center"><span class="badge bg-@(item.IsActive == true ? "success" : "danger")">@(item.IsActive == true ? "Active" : "Inactive")</span></td>
												<td>
													<div class="btn-group">
														<button type="button" class="btn btn-info btn-sm btn-flat" data-toggle="tooltip" data-placement="top" title="Edit"
																onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm","User")?Id=@item.Id');">
															<i class="far fa-edit"></i>
														</button>

														<button type="button" class="btn btn-danger btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="Delete"
																onclick="fnDelete_Confirm('@Url.Action("DeleteConfirmed","User")?Id=@item.Id');">
															<i class="far fa-trash-alt"></i>
														</button>

													</div>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			//$('[data-toggle="tooltip"]').tooltip();
			$('[data-toggle="tooltip"]').tooltip();

			$('.btn').on('click', function () {
				$(this).tooltip('hide'); // Hide the tooltip
			});
		});


		function fnChange_Select($id) {

			//var selectedValue = $('#select' + $id).val();

			var selectedValue = new Array();

			$('#select' + $id + ' input[type="checkbox"]:checked').each(function () {
				selectedValue.push($(this).attr('data-id'));
			});

			if (typeof selectedValue != 'undefined' && selectedValue != null && selectedValue != '' && selectedValue.length > 0)
				$('#input' + $id).val(selectedValue.join(','));
			else
				$('#input' + $id).val('');

			$('#input' + $id).trigger('change');
		}


		function fnChange_SelectAll($this, $id) {

			$('dd.dd_' + $id + ' input[type="checkbox"]').trigger('click');

		}


		function fnShow_Menu($this) {
			var roleId = $($this).closest('div.row').find('select.Role_Id option:selected').val();

			if (typeof roleId != 'undefined' && roleId != null && roleId != '' && roleId.trim() != '0' && roleId.trim().length > 0)
				fnShow_Modal('@Url.Action("Show_Menu", "User")?RoleId=' + roleId, 'Menu Access', true, 'json');

			return false;
		}


		function Get_RoleList($this) {

			$($this).closest('div.row').find('select.Role_Id').empty();
			$.ajax({
				type: 'POST',
				url: "@Url.Action("GetRoleByPlant", "User")",
				dataType: 'json',
				data: { plant_Id: $($this).closest('div.row').find('select.Plant_Id option:selected').val() }

			}).done(function (role) {

					$.each(role, function (i, role) {
						$($this).closest('div.row').find('select.Role_Id').append('<option value="' + role.Value + '">' + role.Text + '</option>');
					});
			}).fail(function (xhr) {
				console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
			});

			return false;
		}

		function fnChange_UserAccess($this) {

			if ($this != null && $($this).attr("data-id") == "Plant_Id")
				Get_RoleList($this);

			var plan_role = [];
			$('.User_Access .row').each(function (i, ele) {
				var Plant_Id = $(ele).find('.Plant_Id option:selected').val();
				var Role_Id = $(ele).find('.Role_Id option:selected').val();

				plan_role.push(Plant_Id + '|' + Role_Id);
			});

			if (plan_role != null && plan_role.length > 0)
				$('#Plant_Role').val(plan_role.join(","));
			else
				$('#Plant_Role').val('');

			$('#Plant_Role').trigger('change');

			debugger;
			let selectedRadio_id = '';

			if (event.currentTarget.type === "radio")
				selectedRadio_id = $(this.event.currentTarget).attr('id');
			else
				selectedRadio_id = $('.User_Access input[type="radio"]:checked').attr('id');

			$('.User_Access input[type="radio"]').not('#' + selectedRadio_id).removeAttr('onchange').prop('checked', false).attr('onchange', 'fnChange_UserAccess(null)');

			$('#Default_Plant').val($('.User_Access input[type="radio"]:checked').closest('div.row').find('select.Plant_Id option:selected').val());
			$('#Default_Plant').trigger('change');
			
		}

		
		function fnRemove_Row($this) {
			$($this).parent('div').parent('div').remove();
			fnChange_UserAccess(null);
		}


		function fnAddNewRow(listPlant, listRole) {

			var optionPlant = '';
			var optionRole = '';

			var selectedPlant = $('.User_Access select.Plant_Id option:selected').map((i, el) => el.value).get();

			if (typeof listPlant != 'undefined' && listPlant != null && listPlant.length > 0) {
				if (typeof listRole != 'undefined' && listRole != null && listRole.length > 0) {

					var arr = listPlant.split('||');
					$.each(arr, function (index, value) {
						//if (selectedPlant == null || $.inArray('' + value.split('|')[0], selectedPlant) == -1)
						optionPlant = optionPlant + '<option value="' + value.split('|')[0] + '" selected="">' + value.split('|')[1] + '</option> ';
					});

					if (typeof optionPlant != 'undefined' && optionPlant != null && optionPlant.length > 0) {
						arr = listRole.split('||');
						$.each(arr, function (index, value) {
							optionRole = optionRole + '<option value="' + value.split('|')[0] + '" selected="">' + value.split('|')[1] + '</option> ';
						});
					}
				}
			}



			if (typeof optionPlant != 'undefined' && optionPlant != null && optionPlant.length > 0) {

				var strHtml = '<div class="row no-gutters p-0 m-0 User_Access"> ' +
					'<div class="col-12 card card-primary p-0 m-0 shadow-none mt-3"> ' +
					'<div class="form-group row"> ' +
					'<label class="col-sm-1 col-form-label text-right">Plant</label> ' +
					'<div class="col-sm-3" data-select2-id="24"> ' +
					'<select class="form-control select2 w-100 Plant_Id" onchange="fnChange_UserAccess(this)" tabindex="-1" aria-hidden="true"> ';

				//'<option value="1" selected="" data-select2-id="6">IFFCO KALOL</option> ' +
				if (typeof optionPlant != 'undefined' && optionPlant != null && optionPlant.length > 0)
					strHtml = strHtml + optionPlant;

				strHtml = strHtml + '</select> ' +
					'</div> <div class="col-sm-2"> ' +
					'<div class="icheck-primary d-inline mr-5"> ' +
					'<input type="radio" id="radioPrimary_' + $('.User_Access select.Plant_Id').length + '" name="PlantID" onchange="fnChange_UserAccess(this)"> ' +
					'<label for="radioPrimary_' + $('.User_Access select.Plant_Id').length + '"> Is Default?</label> ' +
					'</div> </div>' +
					'<label class="col-sm-1 col-form-label text-right">Role</label> ' +
					'<div class="col-sm-3"> ' +
					'<select class="form-control select2 w-100 Role_Id" onchange="fnChange_UserAccess(this)" tabindex="-1" aria-hidden="true"> ';
				//'<option value="2" data-select2-id="9">Admin</option> ' +

				if (typeof optionRole != 'undefined' && optionRole != null && optionRole.length > 0)
					strHtml = strHtml + optionRole;

				strHtml = strHtml + '</select> ' +
					'</div> <div class="col-sm-1 text-center"> <button type="button" class="btn btn-outline-info btn-sm" onclick="fnShow_Menu(this)">View Menus</button> </div>' +
					'<div class="col-sm-1 text-center"> <button type="button" class="btn btn-outline-danger btn-sm" onclick="fnRemove_Row(this)"><i class="far fa-trash-alt"></i></button> </div>' +
					'</div> ' +
					'</div> ' +
					'</div>';

				$('div.User_Access').parent('div').append(strHtml);

				$('div.User_Access').parent('div').find('.select2').select2();

				fnChange_UserAccess(null);
			}
		}
	</script>
}
